
  <div>
    <mat-toolbar>
      
      <span>My Dough</span>
      <span class="example-spacer"></span>
      <div class="nav">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      </div>
    </mat-toolbar>
</div>
<img src="assets/dough.png" width="450px" height="350px" class="rounded float-start" alt="..." routerLink="dough">
<img src="./assets/pic.jpg" width="450px" height="350px" class="rounded float-end" routerLink="laptop" alt="...">
